<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Properties>
		<Property name="LOG_HOME">D:\logs</Property>
		<Property name="LOG_FILE_NAME">${LOG_HOME}/boot.log</Property>
		<Property name="LOG_FILE_NAME_PATTERN">${LOG_HOME}/ngapp-%d{yyyy-MM-dd}.%i.log</Property>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS z(Z)} [%thread] %X{trackingID} %-5level %logger{36} - %msg%n</Property>
	</Properties>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<RollingFile name="ROLLINGFILE" fileName="${LOG_FILE_NAME}" filePattern="${LOG_FILE_NAME_PATTERN}">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30"/>
		</RollingFile>
		<Async name="ASYNC">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="ROLLINGFILE" />
		</Async>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="ASYNC" />
		</Root>
	</Loggers>
</Configuration>